@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --main-bg-color: #424242;
    ---heading-font-color: #FFD600;
    --characters-bg-color: #535556;
    --details-bg-color: #748687;
    --list-item-dark: #8E8E8E;
    --list-item-light: #E1DEDE;
    --font-color-light: #FFFFFF;
    --font-color-dark: #535556;
    --card-bg-color-light: #C4C4C4;
    --card-bg-color-dark: #8E8E8E;
}

body {
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

.wrapper {
    max-width: 1300px;
    margin: auto;
}

header {
    height: 300px;
    background-image: url(../img/martin-reisch-ddEBSlXB4YQ-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}

h1 {
    font-family: 'Ropa Sans', sans-serif;
    color: var(---heading-font-color);
    text-transform: uppercase;
    letter-spacing: .8rem;
    font-size: 3rem;
    width: 30rem;
    padding: 4rem;
}

h2 {
    font-family: 'Ropa Sans', sans-serif;
    color: var(---heading-font-color);
    letter-spacing: .5rem;
}

h3 {
    font-weight: normal;
    padding: .5rem;
}

main {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 0 2rem;
}

main > section {
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    width: 400px;
    background-color: var(--card-bg-color-light);
    margin-top: -3rem;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section h2 {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.loading {
    width: 8rem;
    height: 8rem;
    padding: 2rem;
}

.characters h2 {
    background-color: var(--characters-bg-color);
}

.details h2 {
    background-color: var(--details-bg-color);
}

.characters {
    position: relative;
    min-height: 350px;
}

#characters-list {
    width: 100%;
    line-height: 1.6rem;
}

#details-data {
    color: var(--font-color-dark);
    background-color: var(--list-item-light);
    min-height: 162px;
}

#planet-data {
    color: var(--font-color-light);
    background-color: var(--card-bg-color-dark);
    min-height: 162px;
}

#details-data,
#planet-data {
    width: 100%;
    padding: .6rem 0;
}

#characters-list li,
#details-data li,
#planet-data li {
    padding: 0 .5rem ;
    font-size: 14px;
}
#characters-list li:hover,
a:hover {
    cursor: pointer;
    font-weight: 600;
}

.characters nav {
    position: absolute;
    bottom: 0;
    padding: .2rem;
    color: var(--font-color-dark);
}
.characters nav a {
    color: var(--font-color-dark)
}


/* Making stuff disappear */
.invisible {
    display: none;
}